
#formulario {
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    width: 50%;
}
#formulario h1{
    margin: 30px;
    padding: 0;
}

.form-label {
    color: rgba(204, 211, 226);
    font-size: 20px;
}


.form-control{
    width: 85%;
    font-size: 18px;
    margin: auto;
}

#tabla{
    text-align: left;
}

#inicio .btn-get-started {
    margin-left: 25px;
    margin-bottom: 25px;
}

#inicio h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  @media (max-width: 994px) {
    #inicio h1 {
      font-size: 25px;
      line-height: 36px;
      margin: 10px;
      
     
    }
    .form-control{
        font-size: 10px;
    }

    .form-label{
        font-size: 15px;
    }
    #formulario{
        width: 40%;
    }
    
  }

.loginfixed{
    margin-top: 360px;
    transition: 0.5s;
}

@media (min-width: 994px){
    .loginfixed {
        margin-top: 75px;
    }
}

/*
    Cambios en el fork Oscar
*/

.calculadora{
    margin-top: 10px;
}

.formCalculadora {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.labelCalculadora {
    width: 100px;
    text-align: right;
    margin-right: 3px;
}

.inputNumber,
#mes {
    width: 100px;
    margin-bottom: 10px;
}

.inputSubmit {
    width: auto;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inputSubmit:hover {
    background-color: #0056b3;
}

.containerCalculadora {
    width: 80%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espacio interno */
    background-color: #ffffff; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.containerCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    max-width: 100%;
}

.card{
    max-width: 350px;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px #d7d7d7;
}

.header-card img{
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;
}

.categoria-card{
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.categoria-card span{
    background: #25c4d8;
    color: #fff;
    padding: .2rem .5rem;
}

.footer-card{
    padding: 0 1rem;
}